{% extends 'blog/base.html' %}

{% load static %}

{% block main %}


<body>
<main id="main">
    <!--Breadcrumbs-->
    {% include 'blog/components/_about_breadcrumbs.html' %}
    <!-- End Breadcrumbs -->

    {% include 'blog/components/_about.html' %}


    {% include 'blog/components/_counter.html' %}


    <!-- Testimonials Section -->

        {% include 'blog/components/_testimonials.html' %}


    <!-- End Testimonials Section -->

</main>

</body>

{% endblock main %}